@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #FDFDFD;
}
/* shared css */
.display-flex{
    display: flex;
}
:root{
    --primary-color:#3A3A3A;
    --secondary-color:#18191F;
    --inter-color:#787885;
}
.btn{
    border-radius: 41px;
    padding: 10px 24px;
    font-weight: 700;
    color: #ffffff;
    border: 1px solid #E02C6D;
    background-color: #E02C6D;
}
/* main css */
nav{
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 87px auto 50px;
}
nav .logo{
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 700;
}
.navbar{
    list-style: none;
    gap: 34px;
}
.navbar li a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}
.hero-sec{
    margin-bottom: 69px;
}
.hero-container{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.hero-heading{
    max-width: 582px;
}
.hero-title{
    font-weight: 700;
    color: var(--primary-color);
    font-size: 3.25rem;
}
.hero-heading p{
    max-width: 505px;
    color: var(--primary-color);
    font-weight: 600;
    margin: 16px 0;
}
.hero-img{
    background: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
   height: 475px;
   background-size: contain;
  
}

.hero-img img{
   padding: 30px 0;
    width: 100%;
}
#logos{
    margin-bottom: 100px;
}
.logo-container{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
    border: 1px  solid #aaaaaa3a;
    border-left: 0;
    border-right: 0;
    padding: 30px 60px;
}
.logo-img img{
    width: 100%;
}
.logo-img{
    width: 91px;
}

/* responsive */

@media screen and (max-width:576px) {
    .display-flex{
        flex-direction: column;
    }
    nav{
        text-align: center;
    }
    .hero-container{
        flex-direction: column-reverse;
        text-align: center;
        gap: 50px;
    }
    .hero-title{
        font-size: 2.2rem;
    }
    .hero-img{
        height: auto;
        background-position: center; 
    }
    .hero-img img{
       width: 300px;
       margin: 0 auto;
    }
    .hero-sec,#logos{
    margin-bottom: 30px;
}
.logo-container{
    gap: 30px;
    flex-wrap: wrap;
    border: none;
  justify-content: center;
}
.logo-img{
   width: 40px;
}
    

}
@media screen and (min-width:576px) and (max-width:992px){
   .display-flex{
    flex-direction: column;
   }
   nav{
        text-align: center;
    }
     .hero-container{
        flex-direction: column-reverse;
        text-align: center;
        gap: 50px;
    }
    .hero-img{
        height: auto;
        background-position: center; 
    }
    .hero-img img{
       width: 450px;
       margin: 0 auto;
    }
    
    .hero-heading p{
    margin: 10px auto;
}
 
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    nav{
        margin: 87px 20px 50px;
    }
    .hero-container{
       flex-direction: column-reverse;
        text-align: center;
        gap: 50px;
    }
        .hero-heading p{
    margin: 10px auto;
}

}